.container {
  table {
    width: 100%;
    border-spacing: 0 0.5rem;

    th {
      color: var(--white);
      font-weight: 400;
      padding: 1rem 2rem;
      text-align: left;
      line-height: 1.5rem;
    }

    td {
      padding: 1rem 2rem;
      border: 0;
      background: var(--white);
      color: var(--green-500);
    }
  }
}
