.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 600px;
  background: var(--white);
  color: var(--green-900);

  padding: 1.5rem;
  border-radius: var(--border-radius);

  form {
    margin-top: 1.5rem;
  }
}
