$sidebarBackground: #0f1a2e;
$containerBackground: #060b19;
$containerChildrenBackground: #012b39;
$text: #fff;
$headerText: #e2b842;
$borderdivisor: #364043;
$hover: #014055;
$buttonBackground: #a0afbf;
$buttonText: #242424;
