.user-card {
  height: 237px;
  width: 366px;
  background: #ffffff;
  box-shadow: 0px 0px 0px rgb(63 63 68 / 5%), 0px 1px 2px rgb(63 63 68 / 15%);
  border-radius: 4px;
  margin: 24px;
}

.user-avatar {
  width: 64px !important;
  height: 64px !important;
  display: block;
  margin: auto;
  margin-bottom: 16px;
}

.name-typography {
  color: #515151;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 16px !important;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  img {
    margin-right: 12px;
  }
  p {
    color: #828282;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}
