.container {
  width: 100%;
  max-width: 260px;
  height: 100vh;

  background: var(--green-500);
  color: var(--white);

  display: flex;
  flex-direction: column;

  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.08);
  border-right: 1px solid var(--white);
}

.content {
  flex: 1;


  header {
    height: 3rem;
    padding: 0 0.5rem;

    display: flex;
    align-items: center;

    color: var(--white);
    border-bottom: 1px solid var(--white);
  }

  nav {
    margin-top: 1rem;
    padding: 0 0.5rem;

    ul {
      display: flex;
      flex-direction: column;

      li + li {
        margin-top: 1rem;
      }
    }

    a {
      display: flex;
      align-items: center;
      font-size: 1.2rem;

      svg {
        margin-right: 0.5rem;
      }

      transition: color 0.2s;

      &:hover {
        color: var(--green-500);
      }
    }
  }
}

.wrapperSignOut {
  padding: 0 0.5rem 0.5rem;
}
