.container {
  width: 100%;

  label {
    display: block;
    color: var(--green-900);
    margin-bottom: 0.5rem;
  }
}

.wrapperInput {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;

  border: 1px solid var(--gray-100);
  border-radius: var(--border-radius);
  color: var(--gray-100);

  div {
    display: flex;
    margin-right: 0.5rem;

    > svg {
      width: 1.5rem;
      height: 1.5rem;
    }

  }

  select {
    border: 0;
    width: 100%;
    line-height: 1.5rem;
    color: var(--green-900);
  }
}
